#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.cat-container {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  gap: 2%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}